.container{
    height: 500px;
    margin-bottom: 50px;
}
#first-container{
    height: 500px;
    background-color: #b0e4c6;
}
.navbar-brand{
    width: 100px;
    height: 50px;
}
#school-logo{
    width: 100px;
    height: 50px;
}
.green-button{
    background-color: darkgreen;
    color: white;
    border-radius: 15px;
}
#illustration{
    width: 400px;
    height: 400px;
}
.learn-with-fun{
    width: 300px;
    height: 400px;
    margin-top: 50px;
    margin-left: 30px;
}
#red-text{
    color: tomato;
}
#green-text{
    color: rgb(0, 128, 53);
}
.col-md-3{
    width: 100px;
    height: 150px;
    margin-top: 30px;
    border: 1px solid lightgray;
    background-color: rgb(195, 241, 230);
    
}
.card-img-top{
    width: 50px;
    height: 50px;
}
.container-second{
    width: 90%;
}
.students{
    background-color: rgb(231, 240, 234);
    border: 1p solid white;
}
#student-2{
    box-shadow: 2px 2px 3px gainsboro;
}
.online-courses{
    font-weight: 800;
    font-family: sans-serif;
    text-align: center;
    font-size: large;
}
#card1{
    width:250px ;
}
.online-course{
    width: 250px;
    height: 200px;
}
.icon-calendar{
    width: 20px;
    height: 20px;
}
.icon-people{
    width: 20px;
    height: 20px;

}
.half-icon-para{
    width: 45%;
    float: left;
    margin-left: 20px;
}
.container-testimonial{
    width: 800px;
    margin-left: 400px;
   
}
#man-img{
    width: 150px;
    height: 150px;
}
.blackbox{
    width: auto;
    height: 400px;
    background-color: black;
    margin-top: 50px;
}
#last{
    background-color: black;
    color: white;
    border: black;
}
.col{
    color: white;
}

